

    <div id="Scene">
        <!--img src="scene01.jpg"/-->
    </div>

    <div id="Prompt">
		<pre class="prompt">
Prompt 1
Prompt 2
Prompt 3
Prompt 4
		</pre>
    </div>

    <div id="Options">
        <!--input type="submit" value="Option"/-->
        <input type="submit" value="Option 1"/>
        <input type="submit" value="Option 2"/>
        <input type="submit" value="Option 3"/>
        <input type="submit" value="Option 4"/>
    </div>

    <div class="popup inactive-popup">
        Can't do anything
    </div>


